node_modules/
npm-debug.log

/ms-auth-venv
venv/
env/

.env
.env.*

db.sqlite3
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd

/media/

ms_auth/staticfiles/

pgdata/
postgres/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
